<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.proxy">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Proxy"
        android:roundIcon="@drawable/group_121"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.Splashscreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Homescreen"
            android:label="@string/title_activity_homescreen"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.Login_signup"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.Login"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.Signup"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.Otp"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ui.DailyActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ui.MonthlyActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ui.TeacherActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ui.SemesterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ui.DocumentActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>